body{
 font-family: arial;
 margin:0;
}

.header{
 background:black;
 color:white;
 padding:15px;
}

.logo{
 float:left;
 font-size:16px;
}

.right{
 float:right;
}

.right a{
 color:white;
 margin-left:10px;
 text-decoration:none;
}

.menu{
 background:gray;
 padding:10px;
 clear:both;
}

.menu a{
 color:white;
 margin-right:15px;
 text-decoration:none;
}

.main{
 display:flex;
}

.side{
 width:25%;
 background:#eee;
 padding:10px;
}

.content{
 width:75%;
 padding:10px;
 display:flex;
}

.box{
 border:1px solid black;
 padding:8px;
 margin-right:10px;
 text-align:center;
}

.box img{
 width:100%;
}

.footer{
 background:black;
 color:white;
 text-align:center;
 padding:10px;
 margin-top:10px;
}